'use strict';

module.exports.mysql = {
  user: 'username',
  password: 'password'
};

module.exports.firebase = {
  email: 'username@gmail.com',
  password: 'password',
  //below is not sensetive information and can be used only for read only access
  config : {
    apiKey: "AIzaSyBFmiUTEUt64h0eoLpYeqaIJjELbbE-UrE",
    authDomain: "sample-storage-a309d.firebaseapp.com",
    databaseURL: "https://sample-storage-a309d.firebaseio.com",
    storageBucket: "sample-storage-a309d.appspot.com",
    messagingSenderId: "494050894036"
  }
};
